@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex" style="gap: 20px;">
    <img class="img-fluid img" style="width: 50%;" src="https://images.unsplash.com/photo-1471899236350-e3016bf1e69e" />
    <div>
    <h1 class="display-4 fw-bold">Cửa hàng bán hoa</h1>
    <h3>Kính chào quý khách!</h3>
    <p class="mt-3">Để xem sản phẩm của chúng tôi. Qúy khách hãy nhấp chuột vào đường link <a href="/Product">Mua sản phẩm</a> - để tới nơi mua sản phẩm của chúng tôi.</p>
    </div>
</div>
